$themeColor: #4260ad;
body {
    margin: 0;
}
header {
    padding: 10px 0px;
    border-bottom: 2px solid grey;
    background: $themeColor;
    display: flex;
    b {
        flex: 1;
        color: #ffffff;
        margin: 8px;
    }
    button {
        border: 2px solid grey;
        cursor: pointer;

        &:hover {
            border: 2px solid white;
            cursor: pointer;
        }
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

//input
input {
    margin: 10px 0px;
}
input[type='number'],
input[type='text'] {
    padding: 4px;
    margin: 10px 4px;

    padding: 8px;
    border: 1px solid grey;
}
input[type='text'] {
    width: 250px;
}

button {
    padding: 8px;
    width: 100px;
}
.user-form button,
.login-form button {
    border: 2px solid grey;
    &:hover {
        border: 2px solid $themeColor;
        cursor: pointer;
    }
}

.user-form label:nth-child(1) {
    margin: 35px;
    select {
        margin: 10px 0px;
    }
}

//select
select {
    width: 250px;
    padding: 5px;
    background: #f5f4f4;
}
option {
    padding: 5px;
}

//table
.table-wrapper {
    margin: 15px;
}
.table-style {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-style td,
.table-style th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-style tr:hover {
    background-color: #ddd;
}

.table-style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $themeColor;
    color: white;
}
